/* configuation des les cartes */
.leaflet-container {
    width: 700px;
    height: 400px;
}

#specialbigmap {
    height: 800px;
}

/* section bootstrap contenant la carte */
div.col-md-7 {
    margin-top: 10px;
}

/* formulaire */
form {
    margin-top: 10px;
}

/* alignement des champs du formulaire */
label {
    display: block;
    width: 150px;
    float: left;
}

/* positionnement de la barre de chargement */
.spinner {
    margin-top: 20px;
    margin-left: 30%;
}