/* map configuration */
.leaflet-container {
    width: 700px;
    height: 400px;
}

#specialbigmap {
    height: 800px;
}

/* bootstrap column containing the map */
div.col-md-7 {
    margin-top: 10px;
}

/* form */
form {
    margin-top: 10px;
}

/* form align */
label {
    display: block;
    width: 150px;
    float: left;
}

/* loading indicator */
.spinner {
    margin-top: 20px;
    margin-left: 30%;
}