{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Clustering</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- CSS general -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" type="image/png" href="{% static 'img/marineNationale.jpg' %}" />

    <!-- leaflet -->
    {% leaflet_js plugins="forms" %}
    {% leaflet_css plugins="forms" %}

</head>

<body>

<script type="text/javascript">

    function map_init_basic(map, options) {

    }

    function map_with_clusters(map, options) {
        //configuration of the map when the clusters are added

        var list = "{{ list_clusters }}";
        list = list.replace(/&quot;/g, "'");

        var listClusters = eval(list);
        console.log("map with clusters : ")
        console.log(listClusters)

        for (var i = 0; i < listClusters.length; i++) {
            var cluster = listClusters[i];

            colorCluster = get_color(parseFloat(cluster[6]));
            var num = i;
            var n = num.toString();
            rayon = parseFloat(cluster[4]);
            if (rayon <= 0) {
                rayon = 2;
            }

            var polygon = L.circle([parseFloat(cluster[0]), parseFloat(cluster[1])],
                    rayon * 1000, {
                        color: colorCluster,
                        fillOpacity: 0.3, //default = 0.5
                        weight: 3, //default = 5px
                        dashArray : getDash(cluster[5])
                    }).addTo(map);

            nbDays = parseFloat(cluster[3]);
            if (nbDays <= 0) {
                nbDays = 1;
            }
            polygon.bindPopup("Nb de jours = " + nbDays + " --- Poids = " + parseFloat(cluster[6]));
        }
    }


    function getDash(zone) {
        if (zone.indexOf('A') > -1)
            return "1, 5";
        else if (zone.indexOf('I') > -1)
            return "5, 10";
        else
            return null;
    }

    function get_color(weight, options) {
        //color according to number of attack included in the cluster
        if (weight == 0) {
            //grey
            return 'grey'
        } else if (weight < 5) {
            //dark blue
            return '#00f';
        } else if (weight < 10) {
            //blue
            return '#048cfc';
        } else if (weight < 12) {
            //light blue
            return '#44f4fc';
        } else if (weight < 15) {
            //green
            return '#a0fe44';
        } else if (weight < 17) {
            //light green
            return '#44fe64';
        } else if (weight < 20) {
            //yellow
            return '#fbf63c';
        } else if (weight < 25) {
            //yellow orange
            return '#ff9900';
        } else if (weight < 27) {
            //orange
            return '#fca044';
        } else if (weight < 30) {
            //red
            return '#fb4444';
        } else {
            //dark red
            return '#fb1e1e';
        }

    }

    function on_click() {
        //indicateur de chargement
        $("#spinner").show()
    }

</script>

<div class="container-fluid">


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="home">Pirate attacks</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="cluster">Clustering</a></li>
                <li><a href="prediction">Prédiction</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">

        <div class="col-md-3">
            <h1>Clustering</h1>

            <!-- form -->
            <form action="{% url "map.views.getCluster" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Afficher les clusters" onclick="on_click()"/>
            </form>

            <!-- loading state -->
            <div id="spinner" class="spinner" style="display:none;">
                    <img id="img-spinner" src="{% static 'img/ajax-loader-bar.gif' %}" alt="Loading"/>
            </div>

            <!-- warning message -->
            {% if isListEmpty and isFormSent %}
                <div id="listEmpty"><p></p>Il n'y a pas d'attaque pour le mois renseigné</div>
            {% endif %}

            <br>

            <div class="row col-md-6">

            </div>


        </div>

        <!-- map -->
        <div class="col-md-7">
            {% if isFormSent %}
                {% leaflet_map "map" callback="window.map_with_clusters" %}
            {% else %}
                {% leaflet_map "map" callback="window.map_init_basic" %}
            {% endif %}

        </div>

        <!-- legend -->
        <div class="col-md-1">

            <h3>Légende:</h3>
            <p>Nombre d'attaque(s) dans le cluster </p>
            <table class="table table-striped">

                <tbody>
                <tr>
                    <td class="col-md-1" style= 'background-color: #00f'></td>
                    <td class="col-md-2"> < 5 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #048cfc'></td>
                    <td class="col-md-2"> < 10 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #44f4fc'></td>
                    <td class="col-md-2"> < 12 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #a0fe44'></td>
                    <td class="col-md-2"> < 15 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #44fe64'></td>
                    <td class="col-md-2"> < 17 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #fbf63c'></td>
                    <td class="col-md-2"> < 20 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #ff9900'></td>
                    <td class="col-md-2"> < 25 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #fca044'></td>
                    <td class="col-md-2"> < 27 </td>
                </tr>
                <tr>
                    <td class="col-md-1" style= 'background-color: #fb4444'></td>
                    <td class="col-md-2"> < 30 </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>
</div>

</body>
</html>