
{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-2.2.3.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>


    {% leaflet_js %}
    {% leaflet_css %}

    <style>

        .leaflet-container {  /* all maps */
            width:  700px;
            height: 400px;
        }

        #specialbigmap {
            height: 800px;
        }

    </style>
</head>

<body>


<script type="text/javascript">
    function map_init_basic (map, options) {

        //var test={{ date }}

        var polygon = L.polygon([
            [14.842, 41.22],
            [14.842, 42.47],
            [16.049, 42.47],
            [16.049, 41.22]
        ]).addTo(map);
    }

    function sendParameters() {

        var email = $("#id_envoyeur").val();
        alert(email);


        $.ajax({
            url : "list_area", // the endpoint
            type : "GET", // http method
            data : {'email':'romain.philippe78@free.fr'},
            // handle a successful response
            success : function(json) {
                console.log(json); // log the returned json to the console
            },
            // handle a non-successful response
            error : function(xhr,errmsg,err) {
                $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });


    }


    $.ajax({
        url : "list_area", // the endpoint
        type : "GET", // http method
        data : {'email':'romain.philippe78@free.fr'},
        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
        },
        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                    " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });


</script>

    <div class="container-fluid">

        <div class="row">

            <div class="col-md-5">
                <h1>Pirat attack prediction</h1>
                <p>La date actuelle est : {{ date }}</p>

                La liste des zones :
                {% for area in list_area %}
                    <div class="article">
                        <h3>{{ area.zone }}</h3>
                    </div>
                {% empty %}
                    <p>Aucun article.</p>
                {% endfor %}


                {% if envoi %}Votre message a bien été envoyé !{% endif %}

                <form action="{% url "map.views.contact" %}" method="post">
                    {% csrf_token %}
                    <!--
                    <p><label for="id_sujet">Sujet:</label> <input id="id_sujet" type="text" name="sujet" maxlength="100" /></p>
                    <p><label for="id_message">Message:</label> <textarea id="id_message" rows="10" cols="40" name="message"></textarea></p>
                    <p><label for="id_envoyeur">Votre adresse mail:</label> <input type="text" name="envoyeur" id="id_envoyeur" /></p>
                    <p><label for="id_renvoi">Renvoi:</label> <input type="checkbox" name="renvoi" id="id_renvoi" /> <span class="helptext">Cochez si vous souhaitez obtenir une copie du mail envoyé.</span></p>
                    -->
                    {{ form.as_p }}
                </form>
                <button onclick="sendParameters()">Click me</button>
            </div>


            <div class="col-md-7">
                {% leaflet_map "map" callback="window.map_init_basic" %}
            </div>
        </div>
    </div>

</body>
</html>